#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.box-label {
  padding: 5px;
}

.test-count-box {
  padding: 5px
}

.test-count-box-label {
  padding: 5px
}

@media (prefers-color-scheme: dark) {
  .rct-icon {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .rct-icon {
    color: black;
  }
}
