#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.VerseValidator {
  padding: 5px;
  border: 1px;
  border-style: solid;

}

.verse-box {
  padding: 5px;
}

.box-label {
  padding: 5px;
}

.test-count-box {
  padding: 5px
}

.test-count-box-label {
  padding: 5px
}