#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.box-label {
  padding: 5px;
}

.test-count-box {
  padding: 5px
}

.test-count-box-label {
  padding: 5px
}

@media (prefers-color-scheme: dark) {
  .rct-icon {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .rct-icon {
    color: black;
  }
}

.setting-disabled {
  opacity: 0.5;
}

.tool-bar {
  display: flex;
  gap: 10px; /* Adjust as needed */
  align-items: center;
}

.lang-bar {
  display: flex;
  gap: 10px; /* Adjust as needed */
  align-items: center;
}

